*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Regular";
   
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
   

}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 80px;
}

#nav h3{
    background-color: black;
    color: #fff;
    padding: 10px 25px;
    font-size: 25px;
    margin-left: 5px;
    border-radius: 50px;

}

#intro{
    height: 40%;
    width: 100%;
    background-color: white;
    padding: 55px 60px;
}


#intro h1{
    font-size: 150px;
    letter-spacing: -10px;
    line-height: 130px;
}


#place{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

#place h3,#place h4{
    font-size: 30px;
    font-weight: 700;
    

}


#hero-image{
    height: 90%;
    width: 100%;
    background-image:url(https://i.pinimg.com/736x/bd/f4/59/bdf4599242715d396418687aaff8433b.jpg) ;
    background-size: cover;
    margin-top: 25px;
}

#about{
    height: 45%;
    width: 100%;
    border-top: 5px solid black;
    background-color: white;
    color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#about h2{
    /* background-color: red; */
    width: 60%;
    margin-left: 5%;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -3px;
    
}

#about-part2{
    width: 30%;
    height: 100%;
    padding:0 60px;
    border-left: 5px solid black;
    display: flex;justify-content: space-between;
    flex-direction: column;


}

#about-part2 h3{
    font-size: 35px;
    font-weight: 600;
}

#about-part2 p{
    font-size: 35px;
}
/* #icons{
    /* background-color: red; */
/* } */ 

#icons i{
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    margin-right: 10px;
    

}


#work{
    height: 55%;
    width: 100%;
    border-top: 5px solid black;
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
   
}

#work1{
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    /* padding-top: 5px; */
    padding-right: 60px;
    justify-content: space-between;
    border-right: 10px solid black;
}

#work1  h3{
    font-size: 35px;
    font-weight: 600;

}
#work1 i{
    font-size: 35px;
}

#work2{
    height: 100%;
    width: 65%;
    /* background-color:red */
    padding: 0 60px;
}


.work2-part{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}


.work2-part:nth-child(1){
    /* background-color: blue; */
    padding-top:0 ;
    border-bottom: 2px solid #000;
    

}

.work2-part .elem{
    width:50%;
    height:100%;
    padding-right: 60px;
}


.work2-part .elem:nth-child(1){
    border-right: 2px solid #000;
    
    
}

.work2-part .elem:nth-child(2){
    padding-left: 60px;
    
}


.work2-part .elem h4{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.work2-part .elem p{
    font-size: 20px;
    color: grey;
    font-weight: 500;
}